body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

body.sample-presentation {
  background-color: lightsteelblue;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #303030;
}

p {
  margin: 10px 0;
}

dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dt > .label {
  display: inline;
  font-weight: bold;
  font-size: 75%;
  background-color: #ccc;
  padding: 2px 4px;
  border-radius: 4px;
}

dd {
  margin-left: 170px;
}

tr, td, th {
  border: 1px dashed #ccc;
  padding: 5px;
}

table {
  border: 1px solid #999;
}

pre {
  padding: 6px;
  overflow: auto;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 28px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.bespoke-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bespoke-slide {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
}

.bespoke-slide {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
}

.bespoke-inactive {
  opacity: 0;
  display: none;
}

.bespoke-active {
  opacity: 1;
  display: block;
}

.bespoke-progress-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.bespoke-progress-bar {
  position: absolute;
  transition: width .6s ease;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #113399;
}
